In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df_coverage = pd.read_excel("coverage-data.xlsx")

In [2]:
#Data Overview
df_coverage.info()
df_coverage.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399859 entries, 0 to 399858
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   GROUP                          399859 non-null  object
 1   CODE                           399858 non-null  object
 2   NAME                           398584 non-null  object
 3   YEAR                           399858 non-null  float64
 4   ANTIGEN                        399858 non-null  object
 5   ANTIGEN_DESCRIPTION            399858 non-null  object
 6   COVERAGE_CATEGORY              399858 non-null  object
 7   COVERAGE_CATEGORY_DESCRIPTION  399858 non-null  object
 8   TARGET_NUMBER                  79030 non-null   float64
 9   DOSES                          79327 non-null   float64
 10  COVERAGE                       230477 non-null  float64
dtypes: float64(4), object(7)
memory usage: 33.6+ MB

                YEAR  TARGET_NUMBER         DOSES       COVERAGE
count  399858.000000   7.903000e+04  7.932700e+04  230477.000000
mean     2009.207489   2.780192e+08  3.467241e+06      78.032914
std        11.720530   5.415244e+10  1.125676e+07      74.891697
min      1980.000000   0.000000e+00 -2.222882e+08       0.000000
25%      2002.000000   3.281400e+04  1.446900e+04      69.320000
50%      2012.000000   3.178715e+05  1.522120e+05      88.790000
75%      2019.000000   2.493048e+06  9.710185e+05      96.000000
max      2023.000000   1.170000e+13  1.266052e+08   32000.000000

In [3]:
df_coverage.isnull().sum()

GROUP                                 0
CODE                                  1
NAME                               1275
YEAR                                  1
ANTIGEN                               1
ANTIGEN_DESCRIPTION                   1
COVERAGE_CATEGORY                     1
COVERAGE_CATEGORY_DESCRIPTION         1
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

In [4]:
df_coverage.isnull().sum()
df_coverage.describe()
df_coverage.head(678)

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,ADMIN,Administrative coverage,NaN,NaN,NaN
1,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,OFFICIAL,Official coverage,NaN,NaN,NaN
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,NaN,NaN,90.52
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69
...,...,...,...,...,...,...,...,...,...,...,...
673,COUNTRIES,AFG,Afghanistan,2022.0,ROTA1,"Rotavirus, 1st dose",ADMIN,Administrative coverage,1913143.0,1664416.0,87.00
674,COUNTRIES,AFG,Afghanistan,2022.0,ROTA1,"Rotavirus, 1st dose",OFFICIAL,Official coverage,NaN,NaN,87.00
675,COUNTRIES,AFG,Afghanistan,2022.0,ROTAC,"Rotavirus, last dose",ADMIN,Administrative coverage,1913143.0,1475342.0,77.12
676,COUNTRIES,AFG,Afghanistan,2022.0,ROTAC,"Rotavirus, last dose",OFFICIAL,Official coverage,NaN,NaN,77.12
677,COUNTRIES,AFG,Afghanistan,2022.0,ROTAC,"Rotavirus, last dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,NaN,NaN,59.00

In [5]:
df_coverage.shape

(399859, 11)

In [6]:
df_coverage.drop_duplicates(inplace=True)

In [7]:

df_coverage.isnull().sum()

GROUP                                 0
CODE                                  1
NAME                               1275
YEAR                                  1
ANTIGEN                               1
ANTIGEN_DESCRIPTION                   1
COVERAGE_CATEGORY                     1
COVERAGE_CATEGORY_DESCRIPTION         1
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

In [8]:
df_coverage["CODE"].fillna(method="ffill",inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3147521808.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coverage["CODE"].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3147521808.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_coverage["CODE"].fillna(method="ffill",inplace=True)

In [9]:
df_coverage.isnull().sum()

GROUP                                 0
CODE                                  0
NAME                               1275
YEAR                                  1
ANTIGEN                               1
ANTIGEN_DESCRIPTION                   1
COVERAGE_CATEGORY                     1
COVERAGE_CATEGORY_DESCRIPTION         1
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

In [10]:
#Data Cleaning
df_coverage["NAME"].fillna("Unknowm",inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3971207137.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coverage["NAME"].fillna("Unknowm",inplace=True)

In [11]:
df_coverage.isnull().sum()

GROUP                                 0
CODE                                  0
NAME                                  0
YEAR                                  1
ANTIGEN                               1
ANTIGEN_DESCRIPTION                   1
COVERAGE_CATEGORY                     1
COVERAGE_CATEGORY_DESCRIPTION         1
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

In [12]:
df_coverage["YEAR"].fillna(method="ffill",inplace = True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3571363514.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coverage["YEAR"].fillna(method="ffill",inplace = True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3571363514.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_coverage["YEAR"].fillna(method="ffill",inplace = True)

In [13]:
mode_value = df_coverage["COVERAGE_CATEGORY_DESCRIPTION"].mode()[0]
df_coverage["COVERAGE_CATEGORY_DESCRIPTION"].fillna(mode_value, inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1867365954.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coverage["COVERAGE_CATEGORY_DESCRIPTION"].fillna(mode_value, inplace=True)

In [14]:
mode_value = df_coverage["COVERAGE_CATEGORY"].mode()[0]
df_coverage["COVERAGE_CATEGORY"].fillna(mode_value, inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\2150841633.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coverage["COVERAGE_CATEGORY"].fillna(mode_value, inplace=True)

In [15]:
df_coverage.isnull().sum()

GROUP                                 0
CODE                                  0
NAME                                  0
YEAR                                  0
ANTIGEN                               1
ANTIGEN_DESCRIPTION                   1
COVERAGE_CATEGORY                     0
COVERAGE_CATEGORY_DESCRIPTION         0
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

In [16]:
df_coverage["ANTIGEN"].fillna(method="ffill",inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3906128141.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coverage["ANTIGEN"].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3906128141.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_coverage["ANTIGEN"].fillna(method="ffill",inplace=True)

In [17]:
df_coverage["ANTIGEN_DESCRIPTION"].fillna(method="ffill",inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\2684131894.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coverage["ANTIGEN_DESCRIPTION"].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\2684131894.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_coverage["ANTIGEN_DESCRIPTION"].fillna(method="ffill",inplace=True)

In [18]:
group_means = df_coverage.groupby('CODE')['TARGET_NUMBER'].transform('mean')
df_coverage['TARGET_NUMBER'].fillna(group_means, inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\353291860.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coverage['TARGET_NUMBER'].fillna(group_means, inplace=True)

In [19]:
group_means = df_coverage.groupby('CODE')['DOSES'].transform('mean')
df_coverage['DOSES'].fillna(group_means, inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1157341756.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coverage['DOSES'].fillna(group_means, inplace=True)

In [20]:


mask = df_coverage['COVERAGE'].isna()
df_coverage.loc[mask, 'COVERAGE'] = (df_coverage.loc[mask, 'DOSES'] / df_coverage.loc[mask, 'TARGET_NUMBER']) * 100

In [21]:
df_coverage.head()

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,ADMIN,Administrative coverage,1175.213675,1009.414634,85.892009
1,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,OFFICIAL,Official coverage,1175.213675,1009.414634,85.892009
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.000000,945.000000,90.520000
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,1175.213675,1009.414634,90.520000
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.000000,1008.000000,82.690000

In [22]:
df_coverage.isnull().sum()

GROUP                               0
CODE                                0
NAME                                0
YEAR                                0
ANTIGEN                             0
ANTIGEN_DESCRIPTION                 0
COVERAGE_CATEGORY                   0
COVERAGE_CATEGORY_DESCRIPTION       0
TARGET_NUMBER                    3122
DOSES                            6723
COVERAGE                         5240
dtype: int64

In [23]:
df_coverage.dropna(inplace=True)

In [24]:
df_coverage.shape

(391802, 11)

In [ ]:
# df_coverage.to_csv("COVERAGE.csv")
df_coverage.to_excel("COVERAGE.xlsx")

In [26]:
df_intro = pd.read_excel("vaccine-introduction-data.xlsx")

In [27]:
df_intro.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,Yes

In [28]:
df_intro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138321 entries, 0 to 138320
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ISO_3_CODE   138321 non-null  object
 1   COUNTRYNAME  138320 non-null  object
 2   WHO_REGION   138320 non-null  object
 3   YEAR         138320 non-null  float64
 4   DESCRIPTION  138320 non-null  object
 5   INTRO        138320 non-null  object
dtypes: float64(1), object(5)
memory usage: 6.3+ MB

In [29]:
df_intro.describe()

                YEAR
count  138320.000000
mean     2001.267879
std        17.679511
min      1940.000000
25%      1992.000000
50%      2006.000000
75%      2015.000000
max      2023.000000

In [30]:
df_intro.shape

(138321, 6)

In [31]:
df_intro.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    1
WHO_REGION     1
YEAR           1
DESCRIPTION    1
INTRO          1
dtype: int64

In [32]:
df_intro["COUNTRYNAME"].fillna(method="ffill",inplace=True)
df_intro["WHO_REGION"].fillna(method="ffill",inplace=True)
df_intro["DESCRIPTION"].fillna(value="Unknown",inplace=True)
df_intro["INTRO"].fillna(method="ffill",inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1253835963.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_intro["COUNTRYNAME"].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1253835963.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_intro["COUNTRYNAME"].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1253835963.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_intro["WHO_REGION"].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1253835963.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_intro["WHO_REGION"].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1253835963.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_intro["DESCRIPTION"].fillna(value="Unknown",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1253835963.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_intro["INTRO"].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1253835963.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_intro["INTRO"].fillna(method="ffill",inplace=True)

In [35]:
df_intro.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    0
WHO_REGION     0
YEAR           0
DESCRIPTION    0
INTRO          0
dtype: int64

In [34]:
df_intro.dropna(inplace=True)

In [36]:
df_intro.to_excel("VAC_INTRO.xlsx")

In [37]:
df_incident = pd.read_excel("incidence-rate-data.xlsx")

In [64]:
df_incident.head(84946)

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",0.0
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0
...,...,...,...,...,...,...,...,...
84941,COUNTRIES,ZWE,Zimbabwe,1980.0,PERTUSSIS,Pertussis,"per 1,000,000 total population",893.3
84942,COUNTRIES,ZWE,Zimbabwe,1980.0,POLIO,Poliomyelitis,"per 1,000,000 <15 population",0.0
84943,COUNTRIES,ZWE,Zimbabwe,1980.0,TTETANUS,Total tetanus,"per 1,000,000 total population",19.7
84944,COUNTRIES,ZWE,Zimbabwe,1980.0,YFEVER,Yellow fever,"per 1,000,000 total population",0.0
84945,Created: 2025-02-01 16:03 UTC,ZWE,Zimbabwe,2006.0,NaN,NaN,NaN,0.0

In [40]:
df_incident.describe()

               YEAR  INCIDENCE_RATE
count  84945.000000    61584.000000
mean    2004.095791      109.448781
std       12.595166      992.276983
min     1980.000000        0.000000
25%     1994.000000        0.000000
50%     2005.000000        0.000000
75%     2015.000000        4.600000
max     2023.000000    69101.300000

In [41]:
df_incident.shape

(84946, 8)

In [42]:
df_incident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84946 entries, 0 to 84945
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                84946 non-null  object
 1   CODE                 84945 non-null  object
 2   NAME                 84945 non-null  object
 3   YEAR                 84945 non-null  float64
 4   DISEASE              84945 non-null  object
 5   DISEASE_DESCRIPTION  84945 non-null  object
 6   DENOMINATOR          84945 non-null  object
 7   INCIDENCE_RATE       61584 non-null  float64
dtypes: float64(2), object(6)
memory usage: 5.2+ MB

In [61]:
df_incident["DISEASE"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
84941    False
84942    False
84943    False
84944    False
84945     True
Name: DISEASE, Length: 84946, dtype: bool

In [47]:
df_incident["CODE"].fillna(method="ffill",inplace=True)
df_incident["NAME"].fillna(method="ffill",inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1609299482.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_incident["CODE"].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1609299482.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_incident["NAME"].fillna(method="ffill",inplace=True)

In [ ]:
group_med1 = df_incident.groupby('CODE')['YEAR'].transform('median')
df_incident['YEAR'].fillna(group_med1, inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\2104162822.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_incident['YEAR'].fillna(group_med, inplace=True)

In [54]:
group_med2 = df_incident.groupby('CODE')['INCIDENCE_RATE'].transform('median')
df_incident['INCIDENCE_RATE'].fillna(group_med2, inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\4010840065.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_incident['INCIDENCE_RATE'].fillna(group_med2, inplace=True)

In [56]:
# Map DISEASE to DISEASE_DESCRIPTION
disease_map = df_incident.set_index('DISEASE')['DISEASE_DESCRIPTION'].dropna().to_dict()

# Map DISEASE_DESCRIPTION to DISEASE
description_map = df_incident.set_index('DISEASE_DESCRIPTION')['DISEASE'].dropna().to_dict()

# Fill missing DISEASE_DESCRIPTION using known DISEASE values (in-place)
df_incident['DISEASE_DESCRIPTION'].fillna(df_incident['DISEASE'].map(disease_map), inplace=True)

# Fill missing DISEASE using known DISEASE_DESCRIPTION values (in-place)
df_incident['DISEASE'].fillna(df_incident['DISEASE_DESCRIPTION'].map(description_map), inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\2457953642.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_incident['DISEASE_DESCRIPTION'].fillna(df_incident['DISEASE'].map(disease_map), inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\2457953642.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_incident['DISEASE'].fillna(df_incident['DISEASE_DESCRIPTION'].map(description_map), inplace=True)

In [69]:
#since both disease and disease des ription is empty the above method doesnt work since both are null the and also the row doesnt have much meaning full data we just drop the row
df_incident.dropna(subset=['DISEASE'], inplace=True)

In [70]:
df_incident.isnull().sum()

GROUP                  0
CODE                   0
NAME                   0
YEAR                   0
DISEASE                0
DISEASE_DESCRIPTION    0
DENOMINATOR            0
INCIDENCE_RATE         0
dtype: int64

In [71]:
df_incident.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",0.0
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0

In [72]:
df_incident.shape

(84945, 8)

In [73]:
df_incident.drop_duplicates()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",0.0
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0
...,...,...,...,...,...,...,...,...
84940,COUNTRIES,ZWE,Zimbabwe,1980.0,NTETANUS,Neonatal tetanus,"per 1,000 live births",0.4
84941,COUNTRIES,ZWE,Zimbabwe,1980.0,PERTUSSIS,Pertussis,"per 1,000,000 total population",893.3
84942,COUNTRIES,ZWE,Zimbabwe,1980.0,POLIO,Poliomyelitis,"per 1,000,000 <15 population",0.0
84943,COUNTRIES,ZWE,Zimbabwe,1980.0,TTETANUS,Total tetanus,"per 1,000,000 total population",19.7
84944,COUNTRIES,ZWE,Zimbabwe,1980.0,YFEVER,Yellow fever,"per 1,000,000 total population",0.0

In [74]:
df_incident.shape

(84945, 8)

In [75]:
df_incident.to_excel("INCIDENT.xlsx")

In [76]:
df_report = pd.read_excel("reported-cases-data.xlsx")

In [77]:
df_report.describe()

               YEAR         CASES
count  84869.000000  6.547000e+04
mean    2004.108261  4.472409e+03
std       12.591396  6.114455e+04
min     1980.000000  0.000000e+00
25%     1994.000000  0.000000e+00
50%     2005.000000  1.000000e+00
75%     2015.000000  6.300000e+01
max     2023.000000  4.583555e+06

In [78]:
df_report.shape

(84870, 7)

In [79]:
df_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84870 entries, 0 to 84869
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                84870 non-null  object
 1   CODE                 84869 non-null  object
 2   NAME                 84869 non-null  object
 3   YEAR                 84869 non-null  float64
 4   DISEASE              84869 non-null  object
 5   DISEASE_DESCRIPTION  84869 non-null  object
 6   CASES                65470 non-null  float64
dtypes: float64(2), object(5)
memory usage: 4.5+ MB

In [94]:
df_report.head(500)

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0
...,...,...,...,...,...,...,...
495,WHO_REGIONS,AFR,African Region,2022.0,MEASLES,Measles,97230.0
496,WHO_REGIONS,AFR,African Region,2022.0,MUMPS,Mumps,231965.0
497,WHO_REGIONS,AFR,African Region,2022.0,NTETANUS,Neonatal tetanus,1149.0
498,WHO_REGIONS,AFR,African Region,2022.0,PERTUSSIS,Pertussis,4643.0
499,WHO_REGIONS,AFR,African Region,2022.0,POLIO,Poliomyelitis,694.0

In [85]:
df_report.isnull().sum()

GROUP                      0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
CASES                  19400
dtype: int64

In [82]:
df_report[["CODE","NAME"]].fillna(method="ffill",inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3149887484.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_report[["CODE","NAME"]].fillna(method="ffill",inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3149887484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_report[["CODE","NAME"]].fillna(method="ffill",inplace=True)

In [90]:
df_report["CODE"].fillna(method="ffill", inplace=True)
df_report["NAME"].fillna(method="ffill", inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\4270434202.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_report["CODE"].fillna(method="ffill", inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\4270434202.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_report["NAME"].fillna(method="ffill", inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\4270434202.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_report["NAME"].fillna(method="ffill", inplace=True)

In [99]:
df_report.isnull().sum()

GROUP                      0
CODE                       0
NAME                       0
YEAR                       0
DISEASE                    1
DISEASE_DESCRIPTION        1
CASES                  19400
dtype: int64

In [92]:
group_med1 = df_report.groupby('CODE')['YEAR'].transform('median')
df_report['YEAR'].fillna(group_med1, inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\2053143532.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_report['YEAR'].fillna(group_med1, inplace=True)

In [95]:
# Map DISEASE to DISEASE_DESCRIPTION
disease_map = df_incident.set_index('DISEASE')['DISEASE_DESCRIPTION'].dropna().to_dict()

# Map DISEASE_DESCRIPTION to DISEASE
description_map = df_incident.set_index('DISEASE_DESCRIPTION')['DISEASE'].dropna().to_dict()

# Fill missing DISEASE_DESCRIPTION using known DISEASE values (in-place)
df_incident['DISEASE_DESCRIPTION'].fillna(df_incident['DISEASE'].map(disease_map), inplace=True)

# Fill missing DISEASE using known DISEASE_DESCRIPTION values (in-place)
df_incident['DISEASE'].fillna(df_incident['DISEASE_DESCRIPTION'].map(description_map), inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3189673671.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_incident['DISEASE_DESCRIPTION'].fillna(df_incident['DISEASE'].map(disease_map), inplace=True)
C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\3189673671.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_incident['DISEASE'].fillna(df_incident['DISEASE_DESCRIPTION'].map(description_map), inplace=True)

In [101]:
#since both disease and disease des ription is empty the above method doesnt work since both are null the and also the row doesnt have much meaning full data we just drop the row
df_report.dropna(subset=['DISEASE'], inplace=True)

In [104]:
df_report.isnull().sum()

GROUP                  0
CODE                   0
NAME                   0
YEAR                   0
DISEASE                0
DISEASE_DESCRIPTION    0
CASES                  0
dtype: int64

In [103]:
group_med2 = df_report.groupby('CODE')['CASES'].transform('median')
df_report['CASES'].fillna(group_med2, inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1684003893.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_report['CASES'].fillna(group_med2, inplace=True)

In [106]:
df_report.shape

(84869, 7)

In [105]:
df_report.to_excel("REPORTS.xlsx")

In [107]:
df_schedule = pd.read_excel("vaccine-schedule-data.xlsx")

In [108]:
df_schedule.describe()

              YEAR  SCHEDULEROUNDS
count  8052.000000     8052.000000
mean   2022.941505        2.053403
std       0.441237        1.316560
min    2019.000000        1.000000
25%    2023.000000        1.000000
50%    2023.000000        2.000000
75%    2023.000000        3.000000
max    2023.000000        7.000000

In [109]:
df_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8053 entries, 0 to 8052
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ISO_3_CODE             8053 non-null   object
 1   COUNTRYNAME            8052 non-null   object
 2   WHO_REGION             8052 non-null   object
 3   YEAR                   8052 non-null   float64
 4   VACCINECODE            8052 non-null   object
 5   VACCINE_DESCRIPTION    8052 non-null   object
 6   SCHEDULEROUNDS         8052 non-null   float64
 7   TARGETPOP              3795 non-null   object
 8   TARGETPOP_DESCRIPTION  8052 non-null   object
 9   GEOAREA                8022 non-null   object
 10  AGEADMINISTERED        7007 non-null   object
 11  SOURCECOMMENT          5139 non-null   object
dtypes: float64(2), object(10)
memory usage: 755.1+ KB

In [110]:
df_schedule.shape

(8053, 12)

In [116]:
df_schedule.head(100)

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,NaN
1,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,NaN
2,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,NaN
3,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,NaN
4,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,AIA,Anguilla,AMRO,2023.0,HEPB_ADULT,Adult Hepatitis B vaccine,2.0,ADULTS,Adults,NATIONAL,+M1,adults and recommended for all health workers ...
96,AIA,Anguilla,AMRO,2023.0,HEPB_ADULT,Adult Hepatitis B vaccine,3.0,ADULTS,Adults,NATIONAL,+M6,adults and recommended for all health workers ...
97,AIA,Anguilla,AMRO,2023.0,HEPB_ADULT,Adult Hepatitis B vaccine,3.0,HW,Health workers,NATIONAL,+M6,adults and recommended for all health workers ...
98,AIA,Anguilla,AMRO,2023.0,HEPB_ADULT,Adult Hepatitis B vaccine,2.0,HW,Health workers,NATIONAL,+M1,adults and recommended for all health workers ...
99,AIA,Anguilla,AMRO,2023.0,HEPB_ADULT,Adult Hepatitis B vaccine,1.0,HW,Health workers,NATIONAL,1st contact,adults and recommended for all health workers ...

In [ ]:
df_schedule.isnull()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,False,False,False,False,False,False,False,True,False,False,False,True
1,False,False,False,False,False,False,False,True,False,False,False,True
2,False,False,False,False,False,False,False,True,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8048,False,False,False,False,False,False,False,True,False,False,False,False
8049,False,False,False,False,False,False,False,True,False,False,False,False
8050,False,False,False,False,False,False,False,True,False,False,False,False
8051,False,False,False,False,False,False,False,True,False,False,False,False
8052,False,True,True,True,True,True,True,True,True,True,True,True

In [127]:
df_schedule.isnull().sum()

ISO_3_CODE                  0
COUNTRYNAME                 0
WHO_REGION                  0
YEAR                        0
VACCINECODE                 0
VACCINE_DESCRIPTION         0
SCHEDULEROUNDS              0
TARGETPOP                   0
TARGETPOP_DESCRIPTION       0
GEOAREA                     0
AGEADMINISTERED          1045
SOURCECOMMENT            2913
dtype: int64

In [ ]:
#we removed the last row as it contained many null values
df_schedule = df_schedule.iloc[:-1]

In [119]:
df_schedule["TARGETPOP"].fillna(value="Unknown",inplace=True)

In [121]:
df_schedule["GEOAREA"].unique()

array(['NATIONAL', 'SUBNATIONAL', nan], dtype=object)

In [126]:
group_mode = df_schedule.groupby('ISO_3_CODE')['GEOAREA'].transform(lambda x: x.mode()[0] if not x.mode().empty else np.nan)
df_schedule['GEOAREA'].fillna(group_mode, inplace=True)

In [130]:
df_schedule["AGEADMINISTERED"].fillna(value="Unknow",inplace=True)
df_schedule["SOURCECOMMENT"].fillna(value="Unknow",inplace=True)

C:\Users\ADHARSH\AppData\Local\Temp\ipykernel_11284\1773880941.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_schedule["SOURCECOMMENT"].fillna(value="Unknow",inplace=True)

In [131]:
df_schedule.isnull().sum()

ISO_3_CODE               0
COUNTRYNAME              0
WHO_REGION               0
YEAR                     0
VACCINECODE              0
VACCINE_DESCRIPTION      0
SCHEDULEROUNDS           0
TARGETPOP                0
TARGETPOP_DESCRIPTION    0
GEOAREA                  0
AGEADMINISTERED          0
SOURCECOMMENT            0
dtype: int64

In [132]:
df_schedule.to_excel("SCHEDULE.xlsx")

In [ ]:
# Now we have 5 cleaned data sets 
# ->COVERAGE.xlsx ("coverage-data.xlsx")
# ->INCIDENT.xlsx ("incidence-rate-data.xlsx")
# ->INTRO.xlsx    ("vaccine-introduction-data.xlsx")
# ->SCHEDULE.xlsx ("vaccine-schedule-data.xlsx")
# ->REPORTS.xlsx  ("reported-cases-data.xlsx")